<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcl.zhanglong.utils">

    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>



    <application
        android:name=".UtilApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FunctionListActivity"></activity>

        <activity android:name=".activity.CustViewListActivity"></activity>

        <activity android:name=".activity.customview.LightingColorFilterActivity"></activity>

        <activity android:name=".activity.customview.PorterDuffColorFilterActivity"></activity>

        <service android:name=".service.ProcessTestService"></service>

    </application>

</manifest>